<div class="client">

  <!-- menu -->

  <div class="container">

    <div class="row">
      <h2>Clientes</h2>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="switchPageList()">Lista de Clientes</button>
      <button class="btn btn-primary" (click)="switchPageReg()">Registrar nuevo cliente</button>
    </div>

  </div>

  <!-- register new client -->

  <div class="container" *ngIf="switchRegclient">
    <h3>Registrar Nuevo cliente</h3>
    <form class="client__formReg" [formGroup]="clientFormReg" (ngSubmit)="clientRegister(clientFormReg.value)">
      <div class="form-row">
        <div class="col">
          <label>Nombres</label>
          <input formControlName="firstname" type="text" class="form-control" placeholder="Nombres">
        </div>
        <div class="col">
          <label>Apellidos</label>
          <input formControlName="lastname" type="text" class="form-control" placeholder="Apellidos">
        </div>
        <div class="col">
          <label>DNI</label>
          <input formControlName="dni" type="number" class="form-control" placeholder="DNI">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Número de celular</label>
          <input formControlName="phone" type="number" class="form-control" placeholder="Número de celular">
        </div>
        <div class="col-8">
          <label>Dirección hogar</label>
          <input formControlName="address" type="text" class="form-control" placeholder="Dirección hogar">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Correo electrónico (opcional)</label>
          <input formControlName="email" type="text" class="form-control" placeholder="Correo Electrónico">
        </div>
        <div class="col">
          <label>Contraseña (opcional)</label>
          <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
        </div>
      </div>
      <div class="spinner-border mb-2 row" role="status" *ngIf="spinnerStatus">
        <span class="sr-only">Cargando...</span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="clientFormReg.invalid">Registrar Nuevo cliente</button>
    </form>
    <button class="btn btn-secondary" (click)="switchPageList()">Cancelar</button>
  </div>

  <!-- client list -->

  <div class="container" [hidden]="!switchListclient">

    <form class="client__formSearch">
      <div class="form-group form-inline">
          Buscar cliente: <input class="form-control ml-2" type="text" [formControl]="filter"/>
      </div>
    </form>
    
    <table class="table table-borderless table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres y Apellidos</th>
        <th scope="col">DNI</th>
        <th scope="col">Número de Celular</th>
        <th scope="col">Cantidad de Mascotas</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="client.firstname + ' ' + client.lastname" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.dni" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.phone" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="client.address" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" routerLink="/home/mascotas/{{client.id}}">Ver Mascotas</button>
            </div>
            <div class="col">
              <button class="btn btn-primary" routerLink="/home/editar-cliente/{{client.id}}">Editar Datos</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="spinner-border" role="status" *ngIf="spinnerStatus">
      <span class="sr-only">Cargando...</span>
    </div>

  </div>

</div>