<div class="header">

  <!-- <nav class="header__nav navbar-primary bg-primary pt-2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h1>Veterinaria San Carlos</h1>
        </div>
      </div>
    </div>
  </nav> -->

  <!-- <nav class="pt-3">
    <div class="container">
      <div class="row">
        <div class="col justify-content-start">
          <a class="navbar-brand">Inicio</a>
          <a class="navbar-brand">Servicios</a>
          <a class="navbar-brand">Contacto</a>
          <a class="navbar-brand">Blog</a>
        </div>
        <div class="col-3 justify-content-end">
          <a class="navbar-brand">
            <button class="btn btn-outline-primary">Iniciar Sesión</button>
          </a>
        </div>
      </div>
    </div>
  </nav> -->

  <nav class="header__nav pt-3 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col justify-content-start navbar-brand">
          <h1>VeterinariASC</h1>
        </div>
        <div class="col justify-content-around">
          <a class="navbar-brand" routerLink="/inicio">Inicio</a>
          <a class="navbar-brand" routerLink="/servicios">Servicios</a>
          <a class="navbar-brand" routerLink="/contacto">Contacto</a>
          <a class="navbar-brand" routerLink="/blogs">Blog</a>
        </div>
        <div *ngIf="!loginStatus" class="col-2 justify-content-end">
          <a class="navbar-brand">
            <button class="btn btn-outline-primaryBG" routerLink="/iniciar-sesion">Iniciar Sesión</button>
          </a>
        </div>
        <div *ngIf="loginStatus" class="col-2 justify-content-end">
          <button class="navbar-brand btn btn-primary" routerLink="/cliente">
            <img src="../../../../assets/svg/user-2.svg" alt="avatar">
            <span class="ml-2">Ir a mi perfil</span>
          </button>
          <!-- <button class="btn btn-secondary">Cerrar cesión</button> -->
        </div>
      </div>
    </div>
  </nav>

  <!-- <hr> -->

</div>