.header__nav {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.75);
}

h1 {
  color: var(--text-secondary);
  font-size: 2rem;
}

a {
  color: var(--text-secondary);
  font-size: 1.5rem;
}

a:hover {
  color: var(--secondary-color);
}

button {
  color: var(--text-secondary);
  font-size: 1.1rem;
  border-width: 2px;
}

img {
  width: 40px;
}

span:hover {
  color: var(--text-secondary);
}