<div class="pet-simple-services">

  <div class="container">
    

    <div class="row" *ngIf="pet">
      <div class="col">
        <h3>Servicios Simples de: {{ pet.name }} </h3>
        <button class="btn btn-outline-primary" (click)="backToPets()">Volver a Mis Mascotas</button>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">

        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-0">
          <ngb-panel id="config-panel-{{i}}" *ngFor="let pss of simpleServices; index as i">
            <ng-template ngbPanelTitle>
              <h4>Nombre del Servicio:<span><b> {{ pss.simpleService.name }} </b></span></h4>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="row">
                
                <div class="col">
                  <h5><span>Datos del Servicio Simple</span></h5>
                </div>
                <div class="col">
                  <h5><span>Datos de la mascota al momento del servicio</span></h5>
                </div>
                <div class="col">
                  <h5><span>Veterinario que registró el servicio</span></h5>
                </div>
              </div>

              <div class="row">

                <div class="col-4">

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Fecha de Creación:</b>
                    <label class="col col-form-label">{{ pss.simpleService.date }}</label>
                  </div>

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Descripción:</b>
                    <label class="col col-form-label">{{ pss.simpleService.description }}</label>
                  </div>

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Tratamiento:</b>
                    <label class="col col-form-label">{{ pss.simpleService.treatment }}</label>
                  </div>

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Costo:</b>
                    <label class="col col-form-label">S/ {{ pss.simpleService.cost }}</label>
                  </div>

                </div>

                <div class="col-4">

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Peso:</b>
                    <label class="col col-form-label">{{ pss.simpleService.weight }} Kg.</label>
                  </div>

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Temperatura:</b>
                    <label class="col col-form-label">{{ pss.simpleService.temperature }} °C</label>
                  </div>

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Síntomas:</b>
                    <label class="col col-form-label">{{ pss.simpleService.symptoms }}</label>
                  </div>

                  <div class="form-group row">
                    <b class="col-5 col-form-label">Observaciones:</b>
                    <label class="col col-form-label">{{ pss.simpleService.observations }}</label>
                  </div>

                </div>

                <div class="col-4">

                  <div class="row">
                    <div class="col">
                      <div class="form-group row">
                        <b class="col-4 col-form-label">Nombre completo:</b>
                        <label class="col col-form-label"> {{ pss.vet.firstname }} {{ pss.vet.lastname }}</label>
                      </div>
                      <div class="form-group row">
                        <b class="col-4 col-form-label">Código de veterinario:</b>
                        <label class="col col-form-label"> {{ pss.vet.cmvp }}</label>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
    </div>

  </div>

</div>