<div class="blog">

  <div class="container py-3">
    
    <div class="row justify-content-first mb-4">
      <h2>Blogs</h2>
    </div>

    <hr>

    <div class="blog__item row" *ngFor="let blog of blogs">
      <div class="col">
        <div class="row">
          <div class="col align-self-center">
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.description }}</p>
          </div>
          <div class="col">
            <img src="{{ blog.image }}" alt="blog-image">
            <!-- <img src="../../../../assets/./img/petlogin.jpeg" alt="blog-image"> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="blog__item row">
      <div class="col">
        <div class="row">
          <div class="col align-self-center">
            <h3>Cuidado con las garrapatas!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odit, possimus error reprehenderit quos atque reiciendis modi esse, officiis enim quo excepturi sapiente corrupti? Earum aliquid ipsum optio tempora suscipit!</p>
            <ul>
              <li>MV. MSc. Vet Name</li>
              <li>CMVP Vet Code</li>
            </ul>
          </div>
          <div class="col">
            <img src="../../../../assets/./img/petlogin.jpeg" alt="blog-image">
          </div>
        </div>
      </div>
    </div> -->

  </div>
  
</div>

<app-footer></app-footer>