/* You can add global styles to this file, and also import other style files */

/* Importing google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #7D6B91;
  --secondary-color: #90323D;
  --bg-primary: #FCFCFC;
  --bg-secondary: #272838;
  // --bg-secondary: #5D536B;
  --text-primary: #272838;
  --text-secondary: #FCFCFC;
  --text-third: #5D536B;
}

$theme-colors: (
  "primary": #7D6B91,
  "secondary": #90323D,
  "primaryBG": #FCFCFC,
  "secondaryBG": #272838
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*, *:before, *:after {
  font-family: 'Quicksand', sans-serif;
  transition: all 300ms ease;
}

body {
  background-color: var(--bg-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-third);
  font-weight: bold;
}

a {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

input, textarea, select, small, .card {
  margin-bottom: 1rem;
  border-radius: 0.7rem!important;
}

button {
  border-radius: 0.7rem!important;
  font-weight: bold!important;
  // -webkit-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.75);
  // -moz-box-shadow:    0px 4px 8px 0px rgba(50, 50, 50, 0.75);
  // box-shadow:         0px 4px 8px 0px rgba(50, 50, 50, 0.75);
}

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}
