<div class="forgot-password">

  <div class="container">

      <div class="row">
        <div class="col">
          <h2>Solicitud de cambio de contraseña</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
  
          <form [formGroup]="requestPasswordChangeForm" (ngSubmit)="requestPasswordChange(requestPasswordChangeForm.value)">
            <div class="form-row">
              <div class="col-6">
                <label>Si olvidó su contraseña ingrese el correo electrónico con el que está registrado</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Correo electrónico">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="requestPasswordChangeForm.invalid">Enviar Solicitud</button>
          </form>
  
          <div class="container role__spinner">
            <div class="spinner-border text-primary" role="status" *ngIf="spinnerStatus">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>

          <button class="btn btn-secondary" routerLink="/login">Cancelar y volver a inicio de sesión</button>
  
        </div>
      </div>

  </div>

</div>