<div class="blog-edit">

  <div class="container">

    <div class="row">
      <h2>Editar Blog</h2>
    </div>
    <div class="row">
      <button class="btn btn-primary" routerLink="/home/blog">Volver a Lista de Blogs</button>
    </div>

  </div>

  <div class="container">
    <h3>Editar Blog</h3>
    <form *ngIf="blog" class="blog-edit__form-reg" [formGroup]="blogFormUpdate" (ngSubmit)="updateBlog(blogFormUpdate.value)">
      <div class="form-row">
        <div class="col">
          <label>Titulo del Blog</label>
          <input formControlName="title" type="text" class="form-control" placeholder="Titulo del blog">
        </div>
        <div class="col">
          <label>Imagen del Blog</label>
          <textarea formControlName="image" cols="30" rows="1" class="form-control" placeholder="Copie aquí el enlace del link de la imagen"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Descripción del Blog</label>
          <textarea formControlName="description" cols="30" rows="4" class="form-control" placeholder="Descripción del blog"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="blogFormUpdate.invalid">Actualizar Blog</button>
    </form>
    <button class="btn btn-secondary" routerLink="/home/blog">Cancelar</button>
  </div>

  <div class="container blog-edit__spinner">
    <div class="spinner-border text-primary" role="status" *ngIf="spinnerStatus">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

</div>