<div class="forgot-password-update">

  <div class="container">

    <div class="row">
      <div class="col">
        <h2>Solicitud de cambio de contraseña</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm.value)">
          <div class="form-row">
            <div class="col-6">
              <label>Ingrese la nueva contraseña</label>
              <input formControlName="password" type="password" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="updatePasswordForm.invalid">Actualizar contraseña</button>
          <div class="container role__spinner">
            <div class="spinner-border text-primary" role="status" *ngIf="spinnerStatus">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>

</div>