<div class="service-edit">

  <div class="container">

    <div class="row">
      <h2>Editar Servicio</h2>
    </div>
    <div class="row">
      <button class="btn btn-primary" routerLink="/home/servicios">Volver a Lista de Servicios</button>
    </div>

  </div>

  <div class="container">
    <h3>Editar Servicio</h3>
    <form *ngIf="service" class="blog-edit__form-reg" [formGroup]="serviceFormUpdate" (ngSubmit)="updateBlog(serviceFormUpdate.value)">
      <div class="form-row">
        <div class="col">
          <label>Titulo del Servicio</label>
          <input formControlName="title" type="text" class="form-control" placeholder="Titulo del blog">
        </div>
        <div class="col">
          <label>Imagen del Servicio</label>
          <textarea formControlName="image" cols="30" rows="1" class="form-control" placeholder="Copie aquí el enlace del link de la imagen"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Descripción del Servicio</label>
          <textarea formControlName="description" cols="30" rows="4" class="form-control" placeholder="Descripción del blog"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="serviceFormUpdate.invalid">Actualizar Servicio</button>
    </form>
    <button class="btn btn-secondary" routerLink="/home/servicios">Cancelar</button>
  </div>

  <div class="container blog-edit__spinner">
    <div class="spinner-border text-primary" role="status" *ngIf="spinnerStatus">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

</div>