<div class="profile">

  <div class="container">
    
    <div class="row">
      <div class="col">
        <h3>Mi Perfil</h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bienvenido</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ user.firstname }} {{ user.lastname }}</h6>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">DNI: {{ user.dni }}</p>
            <p class="card-text">Celular: {{ user.phone }}</p>
            <hr>
            <p class="card-text"><b>No olvides cerrar tu cesión</b></p>
          </div>
        </div>
  
      </div>
    </div>
    
  </div>

</div>