.contact {
  padding: 1rem;
}

p {
  text-align: justify;
}

img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.7rem;
}

iframe {
  border-radius: 0.7rem;
  width: 99vw;
  height: 500px;
}