<div class="contact">

  <div class="container py-3">

    <!-- <div class="row justify-content-first mb-4">
      <h2>Contacto</h2>
    </div> -->

    <!-- <hr> -->

    <div class="row">

      <div class="col">
        <h2>Datos de Contacto</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quos fugit quidem. Natus harum dolorum deleniti aliquam, labore neque architecto alias itaque tenetur libero id delectus, consequatur adipisci beatae. Eius!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis saepe recusandae quis voluptates animi error? Minima sed a nostrum illo neque atque. Magni harum, nulla esse architecto iure est labore!</p>
        <ul>
          <li>VeterinariASC</li>
          <li>Av. San Carlos 436</li>
          <li>Av. Ferrocarril 412, Huancayo</li>
          <li>Teléfono: 0800-66766</li>
          <li>E-mail: clinicasancarlos@gmail.com</li>
        </ul>
      </div>

      <div class="col">
        <img src="../../../../assets/img/petlogin.jpeg" alt="contact-image">
      </div>

    </div>

  </div>

  <hr>

  <div class="container-fluid">

    <div class="row">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13759.237834292791!2d-75.21172478083818!3d-12.066061382583614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e964970001811%3A0xfae99f938d8aa342!2sSan%20Carlos!5e0!3m2!1ses!2spe!4v1612808464156!5m2!1ses!2spe"
          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

  </div>

</div>

<app-footer></app-footer>